.box {
  background-repeat: #777;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  display: inline-flex;
  font-weight: 600;
  height: 220px; 
  margin: 4px 5px;
  text-align: center;
  transition: box-shadow 0.2s ease;
  transition: background-size 0.5s ease-out;
  position: relative;
  width: 200px;
}
.box:hover {
  box-shadow: 0px 0px 4px 1px black;
  background-size: 105%;
}

.box-rating {
  color: rgba(255, 100, 100);
  text-shadow: 0px 0px 10px black;
  position: absolute;
  top: 0;
  right: 2%;	
}

.box-on-hover {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  padding-top: 60%;
  transition: all 0.2s ease;
  width: 100%;
}
.box:hover .box-on-hover {
  opacity: 1;
}

.box-title {
  font-size: 20px;
  text-shadow: 0px 0px 10px black;
}
.box-date {
  text-shadow: 0px 0px 10px black;
  font-weight: 400;
}