.nav {
	background: linear-gradient(rgba(40, 40, 40), rgba(20, 20, 20));
  	position: relative;
}
.logo {
  border-bottom: 2px solid tomato;
  font-family: 'pangolin';
  font-size: 30px;
  font-weight: 800;
  margin: 14px;
  position: absolute;
  left: 0;
}

form {
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-flex;
  margin: 2vh 0;
}
form input, form button {
  border: none;
  font-size: 20px;
  padding: 4px 8px;
}
form input {
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}
form button {
  background: #eee;
  transition: all 0.1s ease;
}
form button:hover {
  background: silver;
}

.form-query {
  width: 260px;
}
.form-genre {
  width: 80px;
}
.form-year {
  width: 80px;
}

@media(max-width: 1000px) {
  
  form {
    border: none;
    display: inline;
    margin: 2vh 0;
    padding: 0;
  }
  form input, form button, form select {
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    margin: 0px;
    padding: 0;
    max-width: 500px;
    width: 98%;
  }
  .form-query {
    width: 98%;
  }
  .form-genre {
    width: 98%;
  }
  .form-year {
    width: 98%;
  }
  .logo {
    margin: 0;
    margin-bottom: 2px;
    position: relative;
  }
}
