.overlay {
	background: linear-gradient(to top left, #000, #111);
	box-shadow: 0px 0px 6px 1px #111;
	color: white;
	position: fixed;
	top: 20%;
	bottom: 20%;
	left: 20%;
	right: 20%;
	z-index: 20;
	verflow: auto;
}
.backdrop {
	background-position: center;
	background-size: cover;
	box-shadow: inset 0px 0px 150px 20px #111;
	height: 50%;
	margin-top: 0px;
	padding: 20px 0;
	text-align: left;
	text-shadow: 0px 0px 4px black;
	width: 100%;
	z-index: -1;
}
.overlay-img-container {
	height: 43%;
	overflow: auto;
}
.overlay-title {
	padding: 10px;
	padding-left: 40px;
	width: 48%;
}
.overlay-tagline {	
	padding: 0px;
	padding-left: 40px;
	width: 48%;
}
.overlay-runtime {
	font-size: 90%;
}
.overlay-text {
	overflow: auto;
	padding: 0px;
	padding-left: 40px;
	width: 48%;
}
.overlay-imgs {
	background-position: center;
	background-size: cover;
	display: inline-flex;
	height: 160px;
	margin: 0px 2px;
	width: 240px;
}


.fa-times-circle {
	font-size: 30px;
	position: absolute;
	top: 2%;
	right: 1%;
	transition: all 0.2s ease-out;
}
.fa-times-circle:hover {
	color: red;
}

@media(max-width: 1000px) {
	.overlay {
		font-size: 90%;
		top: 0%;
		bottom: 0%;
		left: 0%;
		right: 0%;
	}
	.overlay-text {
		max-height: 30%;
		overflow: auto;
		padding: 10px 10px;
	}
	.backdrop {
		height: 20%;
	}
	
	.overlay i {
		font-size: 30px;
		position: absolute;
		top: 2%;
		right: 1%;
		transition: all 0.2s ease-out;
	}
	.overlay i:hover {
		color: red;
	}
	
	}
