.placeholder {
  margin: 0 auto;
  padding-bottom: 8px;
  width: 60%;
}
.genre-guide-box {
	border-bottom: 1px solid tomato;
	display: inline-flex;
	margin: 5px;
}
.genre-guide-box div {
	padding: 4px;
}
.genre-guide-name {
}
.genre-guide-id {
}

@media (max-width: 500px) {
	.placeholder {
		display: none;
	}
}