.row {
  background: linear-gradient(to top right, #111, #222);
  box-shadow: 0px 0px 5px 1px #111;
  overflow-x: hidden;
  padding: 1vh 0;
}
.row-title {
	font-family: raleway;
	letter-spacing: 2px;
	margin: 1vh 5vw;
	text-align: left;
	text-transform: uppercase;
}
.slider { 	/* netflix-esque sliders with scroll bars though */
  isplay: inline-flex;
  padding: 0 7%;
}
