.App {
  background: #222;
  color: white;
  height: 100vh;
  text-align: center;
}

.placeholder {
  eight: 100vh;
}

form {
  border: 2px solid #eee;
  border-radius: 5px;
  display: inline-flex;
  margin: 2vh 0;
}
form input, form button {
  border: none;
  font-size: 14px;
  padding: 4px 8px;
}
form input {

}
form button {

}

h1 {
  border-bottom: 2px solid tomato;
  font-family: 'pangolin';
  font-size: 50px;
  margin: 20vh 30%;
}
h2 {
  border-bottom: 2px solid tomato;
  font-family: 'pangolin';
  font-size: 30px;
  margin: 14px;
  position: absolute;
  left: 0;
}

